fastapi
uvicorn[standard]
sqlalchemy>=2.0
psycopg2-binary
alembic
python-dotenv
pydantic-settings
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.1.3
python-multipart
redis
celery
pandas
numpy
yfinance
ta
httpx
requests
